apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "ai-todo-app.fullname" . }}-postgres-pvc
  labels:
    {{- include "ai-todo-app.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi